name: Run Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8.10'

      - name: Create virtual environment and install dependencies
        run: |
          python3 -m venv venv
          source venv/bin/activate
          make install-dev

      - name: Run database migrations
        run: |
          source venv/bin/activate
          flask db upgrade  # Runs migrations to set up the database schema

      - name: Run tests
        run: |
          source venv/bin/activate
          make test
